
@{
    ViewBag.Title = "adminprofile";
}
@Styles.Render("~/Content/adminprofile.css")



<div class="cards">
    <!--------------------------categories--------------------->
    <div class="categories">
        <div class="header">
            <p class="text">Movie </p>
        </div>
        <!----------------menu---------->
        <div class="option active">
            <button type="button" class="btn btn-default">  creat </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default"> update </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default">  delete </button>
        </div>
    </div>




    <!--------------------------categories--------------------->
    <div class="categories">
        <div class="header">
            <p class="text">Director </p>
        </div>
        <!----------------menu---------->
        <div class="option active">
            <button type="button" class="btn btn-default">  creat </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default"> update </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default">  delete </button>
        </div>
    </div>
    <!--------------------------categories--------------------->
    <div class="categories">
        <div class="header">
            <p class="text">Actor </p>
        </div>
        <!----------------menu---------->
        <div class="option active">
            <button type="button" class="btn btn-default">  creat </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default"> update </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default">  delete </button>
        </div>
    </div>

    <!--------------------------categories--------------------->
    <div class="categories">
        <div class="header">
            <p class="text">User </p>
        </div>
        <!----------------menu---------->
        <div class="option active">
            <button type="button" class="btn btn-default">  creat </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default"> update </button>
        </div>
        <div class="option active">
            <button type="button" class="btn btn-default">  delete </button>
        </div>
    </div>

</div>

<div class="buttons">
    <div class="section_div">
        <button type="button" class="btn btn-default sections">  Movie </button>
    </div>
    <div class="section_div">
        <button type="button" class="btn btn-default sections">  Director </button>
    </div>
    <div class="section_div">
        <button type="button" class="btn btn-default sections">  Actor </button>
    </div>
    <div class="section_div">
        <button type="button" class="btn btn-default sections">  User </button>
    </div>
    <div class="section_div">
        <button type="button" class="btn btn-default sections">  Message </button>
    </div>

    <div class="section_div">
        <button type="button" class="btn btn-default sections">  Logout </button>
    </div>

</div> 