
@{
    ViewBag.Title = "actor_diractor_profile";
}

@Styles.Render("~/Content/profile_card.css")


<div class="col-sm-6 col-md-4">
    <h1 class="h1">  </h1>
    <div class="thumbnail">

        
            <img class="profile_img" src="../../images/user.png" alt="...">
            
        
        <p class="name">Diractor Name</p>
        <button type="button" class="btn btn-block view_profile"> Trailer </button>
    </div>
</div>

