@font-face {
    font-family: Roboto;
    src: url(C:\Users\Rawan\source\repos\imdb\Roboto);
}

* {
    font-family: Roboto;
}
/*----card container-----*/
.col-sm-6.col-md-4 {
    align-content: center;
    width: 290px;
    height: 460px;
    background-color: #080808;
}

/*-----card title-------*/
.h1 {
    font-size: 40px;
    text-align: left;
    color: #D69A30;
    font-weight: 700;
    margin-top: 1%;
    text-align: center;

}
/*------card-------*/
.thumbnail {
    width: 260px;
    height: 400px;
    border: solid 2px #D69A30;
    background-color: #080808;
    border-radius: 16px 20px;
    align-content: center;
    margin-top:5%;

}

    /*----card image----------*/
.profile_img {
    margin: 5% 5% 3% 5%;
    width: auto;
    height: 250px;
    border-radius: 150px 150px;
    filter: invert(25%) sepia(0%) saturate(1%) hue-rotate(211deg) brightness(96%) contrast(88%);
    background-color: #696969;
}

/*----image name----------*/
.name {
    font-size: 28px;
    text-align:center;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #696969;

}
.btn-block {
    width: 200px;
    height: 45px;
    position: center;
    margin: 3% 3% 10% 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #080808;
    border-radius: 10px 10px;
    border: solid 2px #D69A30;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: #696969;
}